---
man: Jaro
---
<h1>{{ man }}</h1>
<div class="request-section">
	<!-- <form action=""> -->
		<input type="textarea" id="request-url" value="">
	<!-- </form> -->
	<br>
	<br>
	<button id="send" onclick="sendRequest()">
		Send request
	</button>
	
</div>
<div class="response-section">
	<textarea name="" id="response-position"></textarea>
</div>
<script src="../assets/js/index.js"></script>
<!-- <script src="../assets/js/axios.min.map.js"> -->
<script src="https://unpkg.com/axios/dist/axios.min.js">
	
	console.log('axios');
</script>

<!-- </script> -->
